
<div class="home">
  <div class="home_background bg-blue-800 dark:bg-gray-900 grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <img class="background_image " src={{bckUrl}} alt="">
    </div>
    <div class="absolute left-20 top-40 w-4/5 z-10">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content">
              <div class="text-6xl font-semibold text-gray-900 dark:text-white py-8" translate>Digital Marketing Services</div>
              <ul class="d-flex flex-row align-items-center justify-content-start mt-4">
                <li class="py-2" style="font-size: 30px; color: whitesmoke" translate> Grow Your business </li>
              </ul>
              <ul class="d-flex flex-row align-items-center justify-content-start mt-3">
                <li>
                  <button routerLink="/plans" type="button"
                    class="text-white
                        bg-cyan-400
                        hover:bg-blue-800
                        focus:ring-4
                        cursor-pointer
                        focus:ring-blue-300
                        font-medium
                        rounded-lg
                        text-sm
                        px-5
                        py-2.5
                        me-2
                        mb-2
                        dark:bg-cyan-400
                        dark:hover:bg-cyan-700
                        dark:text-black
                        dark:hover:text-white
                        hover:border-x-4
                        focus:outline-none
                        dark:focus:ring-blue-800" translate>Start Now</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
